# The following was sent by Tim Moody to Ghunt 
He will send others their own credentials sets

I think aws configure sets up the config file, e.g.

 ~/.aws/config
[default]
region = us-east-2

 ~/.aws/credentials
[default]
aws_access_key_id = ...
aws_secret_access_key = ...

then 
aws s3 ls --endpoint-url=https://s3.us-east-2.wasabisys.com

for rclone, which I found to be the fastest

 ~/.config/rclone/rclone.conf should contain

[wasabi]
type = s3
provider = Wasabi
region = us-east-2
endpoint = s3.us-east-2.wasabisys.com
acl = private
env_auth = false
access_key_id = ...
secret_access_key = ...

s5cmd uses the same .aws files as aws s3

s5cmd --endpoint-url=https://s3.us-east-2.wasabisys.com ls

import boto3
endpt = 'https://s3.us-east-2.wasabisys.com'
access_key = '...'
secret_key = '...'

s3 = boto3.resource('s3',
  endpoint_url = endpt,
  aws_access_key_id = access_key,
  aws_secret_access_key = secret_key)

for bucket in s3.buckets.all():
    print(bucket.name)

